<div id="instructions-overlay">
  <div id="instructions">
    <p>The goal is to make it to your opponent's side before they get to yours</p>
    <p>You have these options...blah blah blah</p>
    <!-- countdown from 10 -->
    <%= button_to "Ready!", ready_game_path(game, data: { player_id: them.id, game_id: game.id  }), 
                  method: "POST", remote: true, class: 'ready-button' %>
  </div>
  <div id="waiting">
    <%= image_tag "loading-white.gif", class: 'loading-gif no-padding' %>
    <span class="waiting-message">Waiting for opponent...</span>
  </div>
</div>