<div id="loading-container">
  <%= image_tag 'loading.gif', class: 'loading-gif' %>
  <span class="waiting-message">Waiting for opponent...</span>
</div>
<%= subscribe_to "/games/opponent_decision/#{@game.id}" %>