#gameplay {
	padding-top: 75px;
	width: 100%;
}

#field {
	border-collapse: collapse;
	margin-bottom: 30px;
	float:right;
	margin-right: 20px
}

#field tr {
	border: 1px solid black;
}

#field tr td {
	width: 50px;
	height: 25px;
}

#field tr:nth-child(7) {
	border-bottom: 2px solid black;
}

.you-field {
	border-left: 1px dotted black;
}

.them-base {
	background: #ffbebe;
}

.you-base {
	background: #BDD8F0;
}

.them-position:before {
	color: #FF0000;
}

.you-position:before {
	color: #203864;
}

[id$='name-container'] {
	position: absolute;
	padding: 15px 15px;
}

#them-name-container {
	right: 0;
	bottom: 0;
	background: #BDD8F0;
}

#you-name-container {
	left: 0;
	top: 0;
	background: #ffbebe;
}

[class$='position']:before {
	content: '⬤';
	font-size: 0.75em;
	text-align: center;
	margin-left: 18px;
}

[id$='portion'] {
	float: left;
}

#field-portion {
	width: 55%;
}

#action-portion {
	width: 45%;
	padding-top: 98px;
}

.block {
	background: #dddddd;
}

.you-button {
	margin-left: 20px;
  background: #2e75b6;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 0.7em;
  font-weight: bold;
  margin: 3px;
  padding: 6.5px;
  width: 95px;
  cursor: pointer;
}

.you-button:disabled {
	opacity: .5;
	cursor: default;
}