button {
  -webkit-appearance: none;
}

#gameplay {
	padding-top: 85px;
	width: 100%;
}

#field {
	border-collapse: collapse;
	margin-bottom: 30px;
	float:right;
	margin-right: 20px
}

#field tr {
	border: 1px solid black;
}

#field tr td {
	width: 50px;
	height: 25px;
}

#field tr:nth-child(7) {
	border-bottom: 2px solid black;
}

.you-field {
	border-left: 1px dotted black;
}

.them-base {
	background: #ffbebe;
}

.you-base {
	background: #BDD8F0;
}

#wager {
  position: absolute;
  right: 13px;
  top: 10px;
  font-weight: bold;
  font-size: 1.4em;
}

[id$='name-container'] {
  position: absolute;
  padding: 15px 15px;
}

#them-name-container {
  right: 0;
  bottom: 0;
  background: #BDD8F0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#you-name-container {
  left: 0;
  top: 0;
  background: #ffbebe;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

[class$='position']:before {
  content: '\2B24';
  font-size: 0.75em;
  text-align: center;
  margin-left: 18px;
}

.them-position {
  color: #FF0000;
}

.you-position {
  color: #203864;
}

.left {
  float: left;
  width: 55%;
}

.right {
  float: left;
	width: 45%;
}

#timer-display {
  font-size: 1.5em;
  height: 1.5em;
  padding: 10px 40px;
}

#action-portion {
	padding-top: 30px;
}

.trap {
	background: #dddddd;
}

.action-button {
	margin-left: 20px;
  background: #2e75b6;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 0.7em;
  font-weight: bold;
  margin: 3px;
  padding: 6.5px;
  width: 105px;
  cursor: pointer;
  border: 2px solid white;
}

.disabled {
  opacity: .5;
  cursor: default;
}

button.selected {
  outline: 3px solid #ffff00 !important;
}

button:focus {
  outline: none;
}

#waiting {
  display: none;
}

#loading-container {
  width: 100%;
}

.loading-gif {
  display: block;
  margin: auto;
  padding-top: 150px;
}

.no-padding {
  padding: 0px;
}

.waiting-message {
  text-align: center;
  padding-top: 30px;
  display: block;
}

#instructions-overlay {
  background: black;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}

#instructions p {
  padding: 20px 10px;
}

.ready-button {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  height: 30px;
  margin: 0 20%;
  width: 60%;
  cursor: pointer;
}

#notice {
  color:#FF0000;
  left:0;
  position:absolute;
  text-align:center;
  top:60px;
  width:318px;
}

#buttons-descriptions {
  width: 100%;
  padding: 20px;
}

.button-description {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #fff;
  text-align: left;
  color: #000;
  background: #fff;
}

@media only screen and (max-device-width : 500px) {

}
