<!DOCTYPE html>
<html>
<head>
  <title>Dash for the Cash</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="iphone-frame">
  <%= yield %>
</div>  

</body>
</html>
